@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Doodle+Triangles&display=swap');

body {
  margin: 0;
  font-family: 'Rubik Doodle Triangles', sans-serif;
  font-size: 52px;
  background:linear-gradient(291deg, rgba(128, 130, 255, 1) 0%, rgba(202, 126, 246, 0.97) 100%),
  url('../public/bg-pattern-dark.png');
  background-repeat: repeat;
  padding-top: 2rem;
  text-align: center;
  color: rgba(149, 41, 14, 0.955);
}

header img{
  width: 7rem;
  height: 7rem;
  border: 6px solid black;
  border-radius: 2rem;
}
header p{
  margin: -.5rem 0 1.9rem 0;
}
#game-container{
  padding-top: 1rem;
  width: 28rem;
  height: 27.2rem;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: rgb(211, 210, 206);
  font-size: 14px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2), 2px 8px 25px 6px rgba(0, 0, 0, 0.19);
  position: relative;
}
.player-symbol{
  padding-right: .6rem; 
}
#players{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
}
.player-name{
  padding: 0 1.8rem;
}
.edit-button{
  color: rgb(170, 136, 15);
  background: transparent;
  border: none;
  cursor: pointer;
  height: 1.5rem;
}
.player-input{
  height: 1.5rem;
  outline-color: rgb(52, 36, 174);
  width: 5.4rem;
  background: rgb(61, 60, 60);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: rgb(211, 210, 206);
  border-radius: 3px;
  border: none;
  margin-right: .7rem;
  text-align: center;
  animation: pulse-text 2s infinite;
}
#game-board{
  list-style: none;
  padding-left: 0;
}
.game-items{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 4.6rem 0 4.6rem; 
}
.game-items button{
  width: 5.3rem;
  height: 5.3rem;
  background-color: rgb(222, 215, 215);
  border: none;
  font-family: 'Permanent Marker';
  font-size: 4rem;
  line-height: 5.3rem;
}
.x-player{
  color: rgb(44, 45, 138) ;
}
.o-player{
  color: rgba(107, 46, 143, 0.97);
}
.highlight-list{
  height: 2.5rem;
  line-height: 2.3rem;
}
.highlight-list li.active{
  border: 2px solid rgb(180, 178, 178);
  padding-right: 1.3rem;
  animation: pulse 2s infinite ease-in-out;
}
#display-turn{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  list-style-type: none;
  color: rgb(255, 255, 255);
}
#display-turn li{
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#game-over{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.921);
  width: 28rem;
  height: 28.1rem;
  top: 0;
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
  border-radius: 8px;
}
#game-over h1{
  font-family: 'Permanent Marker';
  padding: 5rem 0 1rem 0;
  font-size: 2.5rem;
  color: rgba(188, 20, 160, 0.993);
}
#game-over button{
  margin-top: 3rem;
  color: rgba(188, 20, 160, 0.993);
  background-color: transparent;
  border: 2px solid rgba(214, 21, 182, 0.993);
  height: 2.5rem;
  width: 7rem;
  font-size: .9rem;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  transition: all 150ms ease-in-out;
  animation: pulse-text-size 1000ms infinite ease-out;
}
.winner-details{
  font-size: 1.2rem;
}
#game-over button:hover{
  background-color: rgba(214, 21, 182, 0.993);
  color: white;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse-text {
  0% {
    color: #e1dec7;
  }
  50% {
    color: #9f9d83;
  }
  100% {
    color: #e1dec7;
  }
}

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    border-color: rgb(148, 144, 144);
    box-shadow: 0 0 0 0 rgba(180, 178, 178, 0.653);
  }
  50% {
    border-color: rgb(177, 170, 170);
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    /* border-color: rgb(232, 228, 228); */
    border-color: rgb(192, 187, 187);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

/*Fancy animation for showing the "Game Over" element */
 @keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
} 
